- name: Build the Website
     run: npm run build

   - name: Deploy to GitHub Pages
     uses: JamesIves/github-pages-deploy-action@v4
     with:
       folder: dist  # Changed from 'build' to 'dist'
